<!DOCTYPE html>
<html>

<head>
	<title>Login - Photon</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/css/uikit.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit-icons.min.js"></script>
</head>

<body>

	<div class="uk-width-1-1 uk-height-viewport" style="background-color: #000000">
		<div class="uk-card uk-card-default uk-card-small uk-width-1-1 uk-position-center" style="max-width:450px;">
			<div class="uk-card-header">
				<img class="uk-align-center" style="margin:7px auto;max-height: 50px;" src="/assets/images/university_logo.png" />
			</div>
			<div class="uk-card-body">
				<form method="post" action="/auth/login/" class="uk-width-1-1">
					{{# each error}}
					<div class="uk-alert-danger" uk-alert>
						<a class="uk-alert-close" uk-close></a>
						<p>{{this}}</p>
					</div>
					{{/each}} {{# each success}}
					<div class="uk-alert-success" uk-alert>
						<a class="uk-alert-close" uk-close></a>
						<p>{{this}}</p>
					</div>
					{{/each}}
					<div class="uk-margin">
						<div class="uk-inline uk-width-1-1">
							<span class="uk-form-icon" uk-icon="icon: mail"></span>
							<input class="uk-input" type="email" name="email" placeholder="Email">
						</div>
					</div>
					<div class="uk-margin">
						<div class="uk-inline uk-width-1-1">
							<span class="uk-form-icon" uk-icon="icon: lock"></span>
							<input class="uk-input" type="password" name="password" placeholder="Password">
						</div>
					</div>
					<div class="uk-margin">
						<input type="submit" class="uk-button uk-button-primary uk-width-1-1" value="Login">
					</div>
					<div class="uk-margin-top">
						<a class="uk-button uk-button-default uk-width-1-1" uk-toggle="target: #modal-reset-password">Forgot your password?</a>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Modal: Reset Password -->
	<div id="modal-reset-password" uk-modal>
		<div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
			<form method="post" action="/auth/request-password-reset/" class="uk-width-1-1">
				<h2 class="uk-modal-title">Forgot your password?</h2>
				<p>Enter your email address below and we'll send you instructions for resetting your password.</p>
				<div class="uk-inline uk-width-1-1">
					<span class="uk-form-icon" uk-icon="icon: mail"></span>
					<input class="uk-input" type="email" name="email" id="reset-email" placeholder="Email">
				</div>
				<input type="hidden" name="sign_in" value="false">
				<div class="uk-margin-top uk-text-right">
					<button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
					<input type="submit" class="uk-button uk-button-primary" value="Send">
				</div>
			</form>
		</div>
	</div>

	<!-- Modal: Check Your Email -->
	<div id="modal-check-your-email" uk-modal>
		<div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
			<h2 class="uk-modal-title">Check your email</h2>
			<p>We have sent you an email with instructions for resetting your password. If you do not receive this email, please check
				your spam folder or contact us for further assistance.
			</p>
			<p class="uk-text-right">
				<button class="uk-button uk-button-primary uk-modal-close" type="button">Ok</button>
			</p>
		</div>
	</div>

	{{#if password_reset_requested}}
	<script>UIkit.modal("#modal-check-your-email").show();</script> {{/if}}

</body>

</html>