<!DOCTYPE html>
<html>

<head>
	<title>Reset password - Photon</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/css/uikit.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit-icons.min.js"></script>
</head>

<body>

	<div class="uk-width-1-1 uk-height-viewport" style="background-color: #000000">
		<div class="uk-card uk-card-default uk-card-small uk-width-1-1 uk-position-center" style="max-width:450px;">
			<div class="uk-card-header">
				<img class="uk-align-center" style="margin: 7px auto; max-height: 50px;" src="/assets/images/university_logo.png" />
			</div>
			<div class="uk-card-body">
				<div id="errors" class="uk-margin-remove">
					{{#each error}}
						<div class="uk-alert-danger" uk-alert>
							<a class="uk-alert-close" uk-close></a>
							<p>{{this}}</p>
						</div>
					{{/each}}
				</div>
				<form id="form" method="post" action="/auth/reset-password/">
					<input type="hidden" name="token" value="{{token}}">
					<div class="uk-margin-bottom">
						<div class="uk-inline uk-width-1-1">
							<span class="uk-form-icon" uk-icon="icon: lock"></span>
							<input class="uk-input" type="password" id="password" name="password" placeholder="New password" min="8" max="24" required>
						</div>
					</div>
					<div class="uk-margin">
						<div class="uk-inline uk-width-1-1">
							<span class="uk-form-icon" uk-icon="icon: lock"></span>
							<input class="uk-input" type="password" id="re-password" name="re-password" placeholder="Retype password" min="8" max="24" required>
						</div>
					</div>
					<div class="uk-margin-top">
						<input type="submit" class="uk-button uk-button-primary uk-width-1-1" value="Set password">
					</div>
				</form>
			</div>
			<script>
				document.getElementById('form').onsubmit = function (e) {
					e.preventDefault();
					let password = document.getElementById('password').value;
					let re_password = document.getElementById('re-password').value;
					if (password !== re_password) {
						document.getElementById('errors').innerHTML = "<div class=\"uk-alert-danger\" uk-alert><a class=\"uk-alert-close\" uk-close></a><p>Passwords do not match</p></div>";
					} else {
						document.getElementById('form').submit();
					}
				};
			</script>
		</div>
	</div>

</body>

</html>