<!-- Header -->
<h3 class="uk-heading-bullet">Buildings</h3>

<!-- Table -->
<table id="table" class="uk-table uk-table-hover uk-table-striped" style="width: 100%;">
	<thead>
		<tr>
			<th>Code</th>
			<th>Name</th>
			<th class="dt-right">Options</th>
		</tr>
	</thead>
</table>

<!-- Create / Edit Modal -->
<div id="modal-create-edit" bg-close="false" uk-modal>
	<div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
		<form id="form" method action class="uk-form-stacked uk-width-1-1">
			<h2 class="uk-modal-title"></h2>
			<input name="id" type="hidden" value>
			<div class="uk-margin uk-width-1-1">
				<label class="uk-form-label" for="code">Code</label>
				<input class="uk-input" type="text" name="code" id="code" placeholder="Code" required>
			</div>
			<div class="uk-margin uk-width-1-1">
				<label class="uk-form-label" for="name">Name</label>
				<input class="uk-input" type="text" name="name" id="name" placeholder="Name" required>
			</div>
			<div class="uk-margin-top uk-text-right">
				<button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
				<div class="spinner" style="display: none;">
					<span class="uk-label uk-margin-right">Processing...</span>
					<div uk-spinner></div>
				</div>
				<input type="submit" class="uk-margin-left uk-button uk-button-primary" value="Save">
			</div>
		</form>
	</div>
</div>

<!-- Delete Modal -->
<div id="modal-delete" bg-close="false" uk-modal>
	<div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
		<form method="delete" action class="uk-width-1-1">
			<h2 class="uk-modal-title">Are you sure you want to delete this building?</h2>
			<input name="id" type="hidden" value>
			<div class="uk-margin-top uk-text-right">
				<button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
				<div class="spinner" style="display: none;">
					<span class="uk-label uk-margin-right">Processing...</span>
					<div uk-spinner></div>
				</div>
				<input type="submit" class="uk-margin-left uk-button uk-button-primary" value="Delete">
			</div>
		</form>
	</div>
</div>

<!-- Scripts -->
<script>
	$(document).ready(function () {
		var table = $('#table').DataTable({
			dom: 'Bfrtip',
			responsive: {
				details: {
					display: $.fn.dataTable.Responsive.display.childRowImmediate
				}
			},
			buttons: [
				{
					text: 'New',
					action: function (e, dt) {
						$('#modal-create-edit form')[0].reset();
						$('#modal-create-edit form').find(':input').not(':submit, select').removeAttr('value');
						$('#modal-create-edit form').find('textarea').html(null);
						$("#modal-create-edit form").attr("action", "#");
						$("#modal-create-edit form").attr("method", "post");
						$("#modal-create-edit .uk-modal-title").html("New building");
						$("#modal-create-edit input[type='submit']").show();
						$("#modal-create-edit .uk-modal-close").show();
						$("#modal-create-edit .spinner").hide();
						UIkit.modal("#modal-create-edit").show();
					}
				},
				{
					extend: 'selectedSingle',
					text: 'Edit',
					action: function (e, dt) {
						var data = dt.rows({ selected: true }).data();
						if (data.length != 1) return;
						var row = data[0];
						$("#modal-create-edit form").attr("action", row.id);
						$("#modal-create-edit form").attr("method", "put");
						$("#modal-create-edit input[name='id']").attr("value", row.id);
						$("#modal-create-edit input[name='code']").attr("value", row.code);
						$("#modal-create-edit input[name='name']").attr("value", row.name);
						$("#modal-create-edit .uk-modal-title").html("Edit building");
						$("#modal-create-edit input[type='submit']").show();
						$("#modal-create-edit .uk-modal-close").show();
						$("#modal-create-edit .spinner").hide();
						UIkit.modal("#modal-create-edit").show();
					}
				},
				{
					extend: 'selectedSingle',
					text: 'Delete',
					action: function (e, dt) {
						var data = dt.rows({ selected: true }).data();
						if (data.length != 1) return;
						var row = data[0];
						$('#modal-delete form')[0].reset();
						$("#modal-delete form").attr("action", row.id);
						$("#modal-delete input[name='id']").attr("value", row.id);
						$("#modal-delete input[type='submit']").show();
						$("#modal-delete .uk-modal-close").show();
						$("#modal-delete .spinner").hide();
						UIkit.modal("#modal-delete").show();
					}
				},
				'copyHtml5', 'excelHtml5', 'csvHtml5', 'pdfHtml5', 'colvis'
			],
			select: { style: 'multi', selector: 'td:not(.not-selectable)' },
			ajax: "all",
			rowId: 'id',
			columns: [
				{ "data": "code" },
				{ "data": "name" },
				{
					data: "id",
					className: "dt-right not-selectable",
					sortable: false,
					render: function (data) {
						return "<a href=\"" + data + "/rooms/\">View rooms</a>";
					}
				}
			]
		});
		$("#modal-create-edit form").submit(function (e) {
			e.preventDefault();
			$("#modal-create-edit .spinner").show();
			$("#modal-create-edit .uk-modal-close").hide();
			$("#modal-create-edit input[type='submit']").hide();
			$.ajax({
				type: $(this).attr('method'),
				url: $(this).attr('action'),
				dataType: 'json',
				data: $(this).serialize(),
				success: function (data) {
					let id = $("#modal-create-edit input[name='id']").val();
					if (id) {
						table.row("#" + id).data(data).draw();
					} else {
						table.row.add(data).draw();
					}
					UIkit.modal("#modal-create-edit").hide();
				},
				error: function (data) {
					console.log(data);
					UIkit.notification({
						message: data.responseText,
						status: 'danger',
						timeout: 1000
					});
					UIkit.modal("#modal-create-edit").hide();
				}
			});
		});
		$("#modal-delete form").submit(function (e) {
			e.preventDefault();
			$("#modal-delete .spinner").show();
			$("#modal-delete .uk-modal-close").hide();
			$("#modal-delete input[type='submit']").hide();
			$.ajax({
				type: $(this).attr('method'),
				url: $(this).attr('action'),
				data: $(this).serialize(),
				success: function (data) {
					let id = $("#modal-delete input[name='id']").val();
					table.row("#" + id).remove().draw();
					UIkit.modal("#modal-delete").hide();
				},
				error: function (data) {
					UIkit.notification({
						message: data.responseText,
						status: 'danger',
						timeout: 1000
					});
					UIkit.modal("#modal-delete").hide();
				}
			});
		});
	});
</script>