<!-- Header -->
<h3 class="uk-heading-bullet">Classes</h3>

<!-- Table -->
<table id="table" class="uk-table uk-table-hover uk-table-striped" style="width: 100%;">
	<thead>
		<tr>
			<th>Course</th>
			<th>Instructor </th>
			<th>Part of Term </th>
			<th>Section</th>
			<th>Max Enrollment</th>
			<th>Status</th>
			<th>Options</th>
		</tr>
	</thead>
</table>

<!-- Create / Edit Modal -->
<div id="modal-create-edit" bg-close="false" uk-modal>
	<div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
		<form id="form" method action class="uk-form-stacked uk-width-1-1 ui-front">
			<h2 class="uk-modal-title"></h2>
			<input name="id" type="hidden" value>
			{{#unless course_id}}
				<input id="course_id" name="course_id" type="hidden" value required>
				<div class="uk-margin uk-width-1-1">
					<label class="uk-form-label" for="course_search">Course</label>
					<input class="uk-input" id="course_search" placeholder="Search course number or name" required>
				</div>
			{{/unless}}
			{{#unless instructor_id}}
				<input id="instructor_id" name="instructor_id" type="hidden" value required>
				<div class="uk-margin uk-width-1-1">
					<label class="uk-form-label" for="instructor_search">Instructor</label>
					<input class="uk-input" id="instructor_search" placeholder="Search instructor name" required>
				</div>
			{{/unless}}
			{{#unless part_of_term_id}}
				<input id="part_of_term_id" name="part_of_term_id" type="hidden" value required>
				<div class="uk-margin uk-width-1-1">
					<label class="uk-form-label" for="part_of_term_search">Part of Term</label>
					<input class="uk-input" id="part_of_term_search" placeholder="Search term name or year" required>
				</div>
			{{/unless}}
			<div class="uk-margin uk-width-1-1">
				<label class="uk-form-label" for="max_enrollment">Max Enrollment</label>
				<input class="uk-input" type="number" name="max_enrollment" id="max_enrollment" placeholder="Max Enrollment" required>
			</div>
			<div class="uk-margin uk-width-1-1">
				<label class="uk-form-label" for="section">Section</label>
				<input class="uk-input" type="text" name="section" id="section" placeholder="Section" required>
			</div>
			<div class="uk-margin uk-width-1-1">
				<label class="uk-form-label" for="status">Status</label>
				<select class="uk-select" name="status" id="status">
					<option value="closed">Closed</option>
					<option value="open">Open</option>
				</select>
			</div>
			<div class="uk-margin-top uk-text-right">
				<button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
				<div class="spinner" style="display: none;">
					<span class="uk-label uk-margin-right">Processing...</span>
					<div uk-spinner></div>
				</div>
				<input type="submit" class="uk-margin-left uk-button uk-button-primary" value="Save">
			</div>
		</form>
	</div>
</div>

<!-- Delete Modal -->
<div id="modal-delete" bg-close="false" uk-modal>
	<div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
		<form method="delete" action class="uk-width-1-1">
			<h2 class="uk-modal-title">Are you sure you want to delete this class?</h2>
			<input name="id" type="hidden" value>
			<div class="uk-margin-top uk-text-right">
				<button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
				<div class="spinner" style="display: none;">
					<span class="uk-label uk-margin-right">Processing...</span>
					<div uk-spinner></div>
				</div>
				<input type="submit" class="uk-margin-left uk-button uk-button-primary" value="Delete">
			</div>
		</form>
	</div>
</div>

<!-- Scripts -->
<script>
	function showSpinner(modal, show) {
		modal.find(".spinner").toggle(!!show);
		modal.find(".uk-modal-close").toggle(!show);
		modal.find("input[type='submit']").toggle(!show);
	}
	$(document).ready(function () {
		var table = $('#table').DataTable({
			dom: 'Bfrtip',
			responsive: {
				details: {
					display: $.fn.dataTable.Responsive.display.childRowImmediate
				}
			},
			buttons: [
				{
					text: 'New',
					action: function (e, dt) {
						$('#modal-create-edit form')[0].reset();
						$('#modal-create-edit form').find(':input').not(':submit, select').removeAttr('value');
						$('#modal-create-edit form').find('textarea').html(null);
						$("#modal-create-edit form").attr("action", "#");
						$("#modal-create-edit form").attr("method", "post");
						$("#modal-create-edit .uk-modal-title").html("New class");
						$("#modal-create-edit input[type='submit']").show();
						$("#modal-create-edit .uk-modal-close").show();
						$("#modal-create-edit .spinner").hide();
						UIkit.modal("#modal-create-edit").show();
					}
				},
				{
					extend: 'selectedSingle',
					text: 'Edit',
					action: function (e, dt) {
						var data = dt.rows({ selected: true }).data();
						if (data.length != 1) return;
						var row = data[0];
						$("#modal-create-edit form").attr("action", row.id);
						$("#modal-create-edit form").attr("method", "put");
						$("#modal-create-edit input[name='id']").attr("value", row.id);
						$("#modal-create-edit input[name='course_id']").attr("value", row.course_id);
						$("#modal-create-edit input[name='instructor_id']").attr("value", row.instructor_id);
						$("#modal-create-edit input[name='part_of_term_id']").attr("value", row.part_of_term_id);
						$("#course_search").attr("value", row.Course.Subject.code + ' ' + row.Course.number + ' ' + row.Course.name);
						$("#instructor_search").attr("value", row.User.firstname + ' ' + row.User.lastname + ' (' + row.User.id + ')');
						$("#part_of_term_search").attr("value", row.PartOfTerm.name + ' (' + row.PartOfTerm.Term.name + ')');
						$("#modal-create-edit input[name='section']").attr("value", row.section);
						$("#modal-create-edit input[name='max_enrollment']").attr("value", row.max_enrollment);
						$("#modal-create-edit select[name='status']").val(row.status).change();
						$("#modal-create-edit .uk-modal-title").html("Edit class");
						$("#modal-create-edit input[type='submit']").show();
						$("#modal-create-edit .uk-modal-close").show();
						$("#modal-create-edit .spinner").hide();
						UIkit.modal("#modal-create-edit").show();
					}
				},
				{
					extend: 'selectedSingle',
					text: 'Delete',
					action: function (e, dt) {
						var data = dt.rows({ selected: true }).data();
						if (data.length != 1) return;
						var row = data[0];
						$('#modal-delete form')[0].reset();
						$("#modal-delete form").attr("action", row.id);
						$("#modal-delete input[name='id']").attr("value", row.id);
						$("#modal-delete input[type='submit']").show();
						$("#modal-delete .uk-modal-close").show();
						$("#modal-delete .spinner").hide();
						UIkit.modal("#modal-delete").show();
					}
				},
				'copyHtml5', 'excelHtml5', 'csvHtml5', 'pdfHtml5', 'colvis'
			],
			select: { style: 'multi' },
			ajax: "all",
			rowId: 'id',
			columns: [
				{
					"data": null,
					render: function (data, type, row) {
						return row.Course.Subject.code + ' ' + row.Course.number + ' ' + row.Course.name;
					}
				},
				{
					"data": null,
					render: function (data, type, row) {
						return row.User.firstname + ' ' + row.User.lastname + ' (' + row.User.id + ')';
					}
				},
				{
					"data": null,
					render: function (data, type, row) {
						return row.PartOfTerm.name + ' (' + row.PartOfTerm.Term.name + ')';
					}
				},
				{ "data": "section" },
				{ "data": "max_enrollment" },
				{ "data": "status" },
				{
					data: "id",
					className: "dt-right not-selectable",
					sortable: false,
					render: function (data) {
						return "<a href=\"" + data + "/meetings/\">View meetings</a>";
					}
				}
			]
		});
		$("#modal-create-edit form").submit(function (e) {
			e.preventDefault();
			showSpinner($('#modal-create-edit'), true);
			$.ajax({
				type: $(this).attr('method'),
				url: $(this).attr('action'),
				dataType: 'json',
				data: $(this).serialize(),
				success: function (data) {
					let id = $("#modal-create-edit input[name='id']").val();
					if (id) {
						table.row("#" + id).data(data).draw();
					} else {
						table.row.add(data).draw();
					}
					UIkit.modal("#modal-create-edit").hide();
				},
				error: function (data) {
					UIkit.notification({
						message: data.responseText,
						status: 'danger',
						timeout: 1000
					});
					showSpinner($('#modal-create-edit'), false);
				}
			});
		});
		$("#modal-delete form").submit(function (e) {
			e.preventDefault();
			showSpinner($('#modal-delete'), true);
			$.ajax({
				type: $(this).attr('method'),
				url: $(this).attr('action'),
				data: $(this).serialize(),
				success: function (data) {
					let id = $("#modal-delete input[name='id']").val();
					table.row("#" + id).remove().draw();
					UIkit.modal("#modal-delete").hide();
				},
				error: function (data) {
					UIkit.notification({
						message: data.responseText,
						status: 'danger',
						timeout: 1000
					});
					showSpinner($('#modal-delete'), false);
				}
			});
		});
		$("#course_search").autocomplete({
			source: function (request, response) {
				$.ajax({
					url: "/admin/courses/search/" + request.term,
					dataType: "json",
					success: function (result) {
						response($.map(result.data, function (item, ignore) {
							return {
								id: item.id,
								label: item.Subject.code + ' ' + item.number + ' ' + item.name,
								value: item.Subject.code + ' ' + item.number + ' ' + item.name
							};
						}));
					}
				});
			},
			minLength: 3,
			select: function (event, ui) {
				$('#course_id').val(ui.item.id);
			}
		});
		$('#course_search').on('input', function (e) {
			$('#course_id').val(null);
		});
		$("#instructor_search").autocomplete({
			source: function (request, response) {
				$.ajax({
					url: "/admin/users/instructors/search/" + request.term,
					dataType: "json",
					success: function (result) {
						response($.map(result.data, function (item, ignore) {
							return {
								id: item.id,
								label: item.firstname + ' ' + item.lastname + ' (' + item.id + ')',
								value: item.firstname + ' ' + item.lastname + ' (' + item.id + ')'
							};
						}));
					}
				});
			},
			minLength: 3,
			select: function (event, ui) {
				$('#instructor_id').val(ui.item.id);
			}
		});
		$('#instructor_search').on('input', function (e) {
			$('#instructor_id').val(null);
		});
		$("#part_of_term_search").autocomplete({
			source: function (request, response) {
				$.ajax({
					url: "/admin/terms/0/parts/search/" + request.term,
					dataType: "json",
					success: function (result) {
						response($.map(result.data, function (item, ignore) {
							return {
								id: item.id,
								label: item.name + ' (' + item.Term.name + ')',
								value: item.name + ' (' + item.Term.name + ')'
							};
						}));
					}
				});
			},
			minLength: 3,
			select: function (event, ui) {
				$('#part_of_term_id').val(ui.item.id);
			}
		});
		$('#part_of_term_search').on('input', function (e) {
			$('#part_of_term_id').val(null);
		});
	});
</script>