<div class="uk-width-1-1 uk-margin-bottom">
	<h1>{{error.message}}</h1>
</div>
<div class="uk-width-1-1 uk-margin">
	<h2>{{error.status}}</h2>
</div>
<div class="uk-width-1-1 uk-margin-top">
	<pre>{{error.stack}}</pre>
</div>