<!DOCTYPE html>
<html>

<head>
	<title>{{error.message}} - Photon</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/css/uikit.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit.min.js"></script>
	<style>
		body {
			padding: 40px;
		}
	</style>
</head>

<body>
	<div uk-alert>
		{{#if error.status}}
			<h3>{{error.status}}</h3>
		{{/if}}
		{{#if error.message}}
			<p>{{error.message}}</p>
		{{/if}}
	</div>
</body>

</html>