<h3 class="uk-heading-bullet uk-margin-top">
    {{title}}
</h3>

<div uk-grid>
    {{!-- Class Navigation --}}
    <div class="uk-width-1-1">
        <table id="table" class="uk-table uk-table-hover uk-table-striped" style="width: 100%;">
            <thead>
            <tr>
                <th>Title</th>
                <th>Section</th>
                <th>Schedule</th>
                <th>Time</th>
                <th>Missed</th>
                <th>Percentage</th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        var table = $('#table').DataTable({
            dom: 'Bfrtip',
            responsive: {
                details: {
                    display: $.fn.dataTable.Responsive.display.childRowImmediate
                }
            },
            buttons: [],
            select: {},
            ajax: "/student/attendance/term/{{term_id_ajax}}/all",
            rowId: 'id',
            columns: [
                {"data": "title", responsivePriority: 1},
                {"data": "section", responsivePriority: 4},
                {"data": "schedule", responsivePriority: 5},
                {"data": "time", responsivePriority: 6},
                {"data": "missed", responsivePriority: 2},
                {"data": "percentage", responsivePriority: 3}
            ]
        });

        $('#table tbody').on('click', 'tr', function () {
            var row = table.row($(this));
            alert("Nice modal:" + row.data().time);
        } );

    });
</script>