<div class="uk-width-1-1">
	<div class="uk-card custom-card-border uk-card-small uk-card-body uk-card-default">
		<ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
			<li>
				<a href="./students-list">Students List</a>
			</li>
			<li class="uk-nav-divider"></li>
			<li>
				<a href="./grade-components">Grade Components</a>
			</li>
			<li class="uk-nav-divider"></li>
			<li class="uk-active">
				<a href="./attendance">Attendance</a>
			</li>
		</ul>
	</div>
</div>

<h3 class="uk-heading-bullet uk-margin-top">
	Track Attendance
</h3>

<form action="./entry" class="uk-form-stacked">
	<div class="uk-margin">
		<label class="uk-form-label uk-text-bold" for="meetingtime">Meeting Time</label>
		<div class="uk-form-controls">
			<select class="uk-select uk-margin-bottom" id="meetingtime" name="meetingtime">
				<option selected disabled class="uk-hidden" name="meetingtime"></option>
				{{#each meetingTimes}}
					<option value="{{this.optionValue}}">{{this.optionText}}</option>
				{{/each}}
			</select>
		</div>
	</div>

	<div class="uk-margin">
		<label class="uk-form-label uk-text-bold" for="meetingdate">Date</label>
		<div class="uk-form-controls">
			<select class="uk-select" id="meetingdate" name="meetingdate">
				<option selected disabled class="uk-hidden"></option>
			</select>
		</div>
	</div>

	<div class="uk-margin uk-text-right">
		<input type="submit" class="uk-button uk-button-primary" value="Next">
	</div>
</form>

<script>
	$(function () {
		$('#meetingtime').change(function () {
			let meetingId = $(this).val();
			let meetingDates = $.parseJSON('{{{ meetingDates }}}');
			$('#meetingdate').find('option').remove();
			$.each(meetingDates[meetingId], function (key, value) {
				$('#meetingdate').append($('<option>', {
					value: value.optionValue,
					text: value.optionText
				}));
			});
		});
	});
</script>