<h3 class="uk-heading-bullet uk-margin-remove-top">{{title}}</h3>

<div uk-grid>
    <div class="uk-width-1-1">
        <table id="table" class="uk-table uk-table-hover uk-table-striped" style="width: 100%;">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Section</th>
                    <th>Hours</th>
                    <th>Instructor</th>
                    <th>Meetings</th>
                    <th>Status</th>
                    <th>Option</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div id="modal" bg-close="false" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        <form id="form" method action class="uk-form-stacked uk-width-1-1">
            <h4 class="uk-modal-title uk-text-large"></h4>
            <input name="class_id" type="hidden" value>
            <input name="course_id" type="hidden" value>
            <input name="credit_hours" type="hidden" value>
            <div class="uk-margin uk-width-1-1">
                <h5 class="uk-text"></h5>
            </div>
            <div class="uk-margin-top uk-text-right">
                <input type="submit" class="uk-button uk-button-primary" value="Yes">
                <div class="spinner" style="display: none;">
                    <span class="uk-label uk-margin-right">Processing...</span>
                    <div uk-spinner></div>
                </div>
                <button class="uk-button uk-button-default uk-modal-close uk-margin-left" type="button">No</button>
            </div>
        </form>
    </div>
</div>

<script>
    let classes = {{{ classes }}};
    let user_id = {{ user_id }};
    function isEnrolled(list) {
        for (var i = 0; i < list.length; i++)
            if (list[i]['student_id'] === user_id)
                return true;
        return false;
    }
    $(document).ready(function () {
        var table = $('#table').DataTable({
            dom: 'Bfrtip',
            buttons: ['copyHtml5', 'excelHtml5', 'csvHtml5', 'pdfHtml5', 'colvis'],
            data: classes,
            rowId: 'id',
            columns: [
                {
                    data: "Course.name",
                    responsivePriority: 1,
                    render: function (data, type, row) {
                        return row.Course.Subject.code + " " + row.Course.number + " - " + row.Course.name;
                    }
                },
                { data: "section", responsivePriority: 2 },
                {
                    data: "hours", responsivePriority: 3,
                    render: function (data, type, row) {
                        return row.Course.credit_hours;
                    }
                },
                {
                    data: "instructor",
                    responsivePriority: 4,
                    render: function (data, type, row) {
                        return row.User.firstname + " " + row.User.lastname;
                    }
                },
                {
                    data: "schedule", responsivePriority: 7,
                    render: function (data, type, row) {
                        let whatever = [];
                        for (var i = 0; i < row.ClassMeetings.length; i++) {
                            let meeting = row.ClassMeetings[i];
                            let meetingString = "";
                            let daysOfWeek = [];
                            daysOfWeek.push("<span class='" + (meeting.monday ? "schedule-day-on" : "schedule-day-off") + "'>M</span>");
                            daysOfWeek.push("<span class='" + (meeting.tuesday ? "schedule-day-on" : "schedule-day-off") + "'>T</span>");
                            daysOfWeek.push("<span class='" + (meeting.wednesday ? "schedule-day-on" : "schedule-day-off") + "'>W</span>");
                            daysOfWeek.push("<span class='" + (meeting.thurday ? "schedule-day-on" : "schedule-day-off") + "'>T</span>");
                            daysOfWeek.push("<span class='" + (meeting.friday ? "schedule-day-on" : "schedule-day-off") + "'>F</span>");
                            daysOfWeek.push("<span class='" + (meeting.saturday ? "schedule-day-on" : "schedule-day-off") + "'>S</span>");
                            daysOfWeek.push("<span class='" + (meeting.sunday ? "schedule-day-on" : "schedule-day-off") + "'>S</span>");
                            meetingString += daysOfWeek.join("");
                            meetingString += " ";
                            meetingString += meeting.start_time.substring(0, meeting.start_time.lastIndexOf(":")) + " - "
                                + meeting.end_time.substring(0, meeting.end_time.lastIndexOf(":"));
                            meetingString += " <b>Building:</b> " + meeting.Room.Building.code;
                            whatever.push(meetingString);
                        }
                        if (whatever.length == 0) return "No meetings";
                        return whatever.join('<br>');
                    }
                },
                {
                    data: null,
                    responsivePriority: 5,
                    render: function (data, type, row) {
                        return (row.max_enrollment - row.ClassEnrollments.length) + " of " + row.max_enrollment + " seats remain.";
                    }
                },
                {
                    data: null,
                    responsivePriority: 6,
                    render: function (data, type, row) {
                        if (isEnrolled(row.ClassEnrollments)) {
                            return "<button class=\"uk-button-danger\" onclick=\"drop(" + row.Course.id + ",'" + row.Course.name + "'," + row.Course.credit_hours + "," + row.id + ",'" + row.section + "'); return false;\">Drop</button>";
                        } else if (row.max_enrollment <= row.ClassEnrollments.length) {
                            return "No Available Seat";
                        } else {
                            return "<button class=\"uk-button-primary\" onclick=\"enroll(" + row.Course.id + ",'" + row.Course.name + "'," + row.Course.credit_hours + "," + row.id + ",'" + row.section + "'); return false;\">Register</button>";
                        }
                    }
                }
            ]
        });
        $("#modal form").submit(function (e) {
            e.preventDefault();
            $("#modal .spinner").show();
            $("#modal .uk-modal-close").hide();
            $("#modal input[type='submit']").hide();
            $.ajax({
                type: $(this).attr('method'),
                url: $(this).attr('action'),
                data: $(this).serialize(),
                success: function (data) {
                    window.location.reload(true);
                },
                error: function (data) {
                    UIkit.modal("#modal").hide();
                    UIkit.notification({
                        message: data.responseText,
                        status: 'danger',
                        timeout: 1000
                    });
                }
            });
        });
    });
    function enroll(course_id, course_name, credit_hours, class_id, class_section) {
        $('#modal form')[0].reset();
        $("#modal form").attr("action", "#");
        $("#modal form").attr("method", "post");
        $("#modal .uk-modal-title").html(course_name + " - Section " + class_section);
        $("#modal .uk-text").html("Do you want to enroll to this class?");
        $("#modal input[name='course_id']").attr("value", course_id);
        $("#modal input[name='class_id']").attr("value", class_id);
        $("#modal input[name='credit_hours']").attr("value", credit_hours);
        $("#modal input[type='submit']").show();
        $("#modal .spinner").hide();
        $("#modal .uk-modal-close").show();
        UIkit.modal("#modal").show();
    }
    function drop(course_id, course_name, credit_hours, class_id, class_section) {
        $('#modal form')[0].reset();
        $("#modal form").attr("action", "#");
        $("#modal form").attr("method", "delete");
        $("#modal .uk-modal-title").html(course_name + " - Section " + class_section);
        $("#modal .uk-text").html("Do you want to drop this class?");
        $("#modal input[name='course_id']").attr("value", course_id);
        $("#modal input[name='class_id']").attr("value", class_id);
        $("#modal input[name='credit_hours']").attr("value", credit_hours);
        $("#modal input[type='submit']").show();
        $("#modal .spinner").hide();
        $("#modal .uk-modal-close").show();
        UIkit.modal("#modal").show();
    }
</script>