<!-- Header -->
<h3 class="uk-heading-bullet">Register for Classes</h3>

<!-- Table -->
<table id="table" class="uk-table uk-table-hover uk-table-striped" style="width: 100%;">
    <thead>
    <tr>
        <th>Title</th>
        <th>Subject</th>
        <th>Course Number</th>
        <th>Section</th>
        <th>Hours</th>
        <th>Term</th>
        <th>Instructor</th>
        <th>Meeting Times</th>
        <th>School</th>
        <th>Status</th>
        <th class="dt-right">Action</th>
    </tr>
    </thead>
</table>

<!-- Scripts -->
<script>
    $(document).ready(function () {
        var table = $('#table').DataTable({
            dom: 'Bfrtip',
            responsive: {
                details: {
                    display: $.fn.dataTable.Responsive.display.childRowImmediate
                }
            },
            select: {style: 'multi', selector: 'td:not(.not-selectable)'},
            ajax: "all",
            rowId: 'id',
            columns: [
                {"data": "title"},
                {"data": "subject"},
                {"data": "course_number"},
                {"data": "section"},
                {"data": "hours"},
                {"data": "term"},
                {"data": "instructor"},
                {"data": "meeting_times"},
                {"data": "school"},
                {"data": "status"},
                {
                    data: "id",
                    className: "dt-right not-selectable",
                    sortable: false,
                    render: function (data) {
                        return "<a href=\"" + data + "/rooms/\">Register</a>";
                    }
                }
            ]
        });
    });
</script>