<h3 class="uk-heading-bullet uk-margin-remove-bottom">
	Class Schedule
</h3>
<div id='calendar'>

</div>
<script>
	let calendarPrev = function () {
		$('#calendar').fullCalendar('prev');
		return false;
	};

	let calendarNext = function () {
		$('#calendar').fullCalendar('next');
		return false;
	};

	$(function () {

		// page is now ready, initialize the calendar...
		let calendar = $('#calendar').fullCalendar({
			header: {
				left: '',
				center: 'title',
				right: ''
			},
			defaultView: 'listWeek',
			events: {
				url: './schedule/events'
			},
			eventAfterAllRender: (view) => {
				$('table').addClass('uk-table uk-table-small uk-margin-remove');
				$('td.fc-widget-header').attr('style', 'background-color: #F8F8F8!important');
				$('div.fc-right').html("<a href='#' onclick='return calendarPrev();' uk-slidenav-previous></a> <a href='#' onclick='return calendarNext();' uk-slidenav-next></a>");
			}
		});
	});
</script>