body {
  font: 14px Helvetica, Arial, sans-serif;
}

#offcanvas-nav > div {
  background: #33393f;
}

#oncanvas-nav {
  position: fixed;
  width: 300px; 
  height: 100%;
  background: #33393f;
}

#oncanvas-nav, #offcanvas-nav .uk-offcanvas-bar {
  padding: 20px 0px 20px 0px;
}

#oncanvas-nav a, #offcanvas-nav a {
  padding-left: 20px;
  padding-right: 20px;
}

#navbar {
  padding: 0px 20px;
}

#navbar img {
  max-height: 40px;
}

.uk-nav-default {
  font-size: 1rem !important;
}

.custom-line {
  width: 100%;
  overflow: hidden;
}

.custom-line>* {
  display: inline-block;
  position: relative;
}

.custom-line>::before {
  right: 100%;
  margin-right: .6em
}

.custom-line>::after {
  left: 100%;
  margin-left: .6em
}

.custom-line>::before, .custom-line>:after {
  content: "";
  position: absolute;
  top: calc(50% - (1px / 2));
  width: 2000px;
  border-bottom: 1px solid #e5e5e5;
}

@media all and (min-width: 960px) {
  #body {
    float: left;
    width: calc(100% - 340px);
    margin-left: 300px;
    padding: 20px;
  }
}

@media not all and (min-width: 960px) {
  #body {
    float: left;
    width: calc(100% - 40px);
    margin-left: 0px;
    padding: 20px;
  }
}

table.dataTable {
  border-collapse: collapse !important;
}

table.dataTable thead th, table.dataTable tfoot th {
  font-weight: normal !important;
  border: 0 !important;
  font-size: 0.8rem !important;
}

table.dataTable tbody th, table.dataTable tbody td {
  padding: 16px 12px !important;
}

table.dataTable thead th, table.dataTable tfoot th {
  padding: 16px 30px 16px 12px !important;
}

table.dataTable .sorting_disabled {
  padding: 16px 12px !important;
}

table.dataTable thead .sorting{
	background:none !important;
}

table.dataTable thead .sorting_asc{
	background:url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIRnC2nKLnT4or00Puy3rx7VQAAOw==) no-repeat right 10px center !important;
}

table.dataTable thead .sorting_desc{
	background:url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIPnI+py+0/hJzz0IruwjsVADs=) no-repeat right 10px center !important;
}

table.dataTable.no-footer {
  float: left;
  border-bottom: 1px solid #e5e5e5 !important;
  margin: 15px 0px !important;
}

table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected, table.dataTable tbody tr.selected {
  background-color: #cff0ff!important;
}

.dataTables_wrapper input[type="search"] {
  border: 1px solid #f1f1f1;
  padding: 0.5em 1em;
  -webkit-appearance: none;
}

.uk-notification {
  width: 100% !important;
  top: 0px !important;
  right: 0px !important;
  left: 0px !important;
  margin: 0px !important;
  text-align: center !important;
}

.uk-notification-message {
  background: #33393f !important;
  line-height: 1 !important;
  color: #ffffff !important;
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow: 0 0 5px black;
  box-shadow: 0 0 5px black;
}