body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#offcanvas-nav > div {
  background: #33393f;
}

#oncanvas-nav {
  position: fixed;
  width: 300px; 
  height: 100%;
  background: #33393f;
}

#oncanvas-nav, #offcanvas-nav .uk-offcanvas-bar {
  padding: 20px 0px 20px 0px;
}

#oncanvas-nav a, #offcanvas-nav a {
  padding-left: 20px;
  padding-right: 20px;
}

#navbar {
  padding: 0px 20px;
}

#navbar img {
  max-height: 40px;
}

@media all and (min-width: 960px) {
  #body {
    float: left;
    margin-left: 300px;
    padding: 20px;
  }
}

@media not all and (min-width: 960px) {
  #body {
    float: left;
    margin-left: 0px;
    padding: 20px;
  }
}