<h3 class="uk-heading-bullet uk-margin-top uk-margin-remove-bottom">{{title}}</h3>

<div uk-grid>
    <div class="uk-width-1-1">
        <table id="table" class="uk-table uk-table-hover uk-table-striped" style="width: 100%;">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Section</th>
                    <th>School</th>
                    <th>Credits</th>
                    <th>Level</th>
                    <th>Option</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        var table = $('#table').DataTable({
            dom: 'Bfrtip',
            responsive: {
                details: {
                    display: $.fn.dataTable.Responsive.display.childRowImmediate
                }
            },
            buttons: [],
            searching: false,
            select: {},
            ajax: "/student/terms/{{term_id}}/classes/all",
            rowId: 'id',
            columns: [
                { "data": "title", responsivePriority: 1 },
                { "data": "course_section", responsivePriority: 3 },
                { "data": "school_code", responsivePriority: 6 },
                { "data": "credit_hours", responsivePriority: 4 },
                { "data": "level", responsivePriority: 5 },
                {
                    data: null,
                    responsivePriority: 2,
                    sortable: false,
                    render: function (data, type, row) {
                        return "<a href=/student/terms/" + row.term_id + "/classes/" + row.class_id + "/grades/>View grades</a>";
                    }
                }
            ]
        });

        // table row onclick
        $('#table tbody').css("cursor", "pointer");
        $('#table tbody').on('click', 'tr', function () {
            var row = table.row($(this));
            window.location.href = "/student/terms/" + row.data().term_id + "/classes/" + row.data().class_id + "/";
        });

    });
</script>