<h3 class="uk-heading-bullet uk-margin-top">
    {{title}}
</h3>

<div uk-grid>
    {{!-- Class Navigation --}}
    <div class="uk-width-1-1">
        <table id="table" class="uk-table uk-table-hover uk-table-striped" style="width: 100%;">
            <thead>
                <tr>
                    <th>id</th>
                    <th>course_name</th>
                    <th>term_name</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>

</script>